html {
	background-image: url(./bg.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	color: #fff;
	scrollbar-color: #f00 #333;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: #333;
}

::-webkit-scrollbar-thumb {
	background: #f00;
}

::-webkit-scrollbar-thumb:hover {
	background: #f55;
}

h1 {
	font-size: 40px;
	text-shadow: 2px 2px 4px #000;
}

#info {
	font-size: 20px;
	text-shadow: 2px 2px 4px #000;
	text-align: center;
}

#clicker {
	height: 250px;
	width: 750px;
	font-size: 50px;
	border-radius: 25px;
	border: 5px solid #750000;
	background: #aaa;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
	cursor: pointer;
	transition: 0.1s;
}

#clicker:hover {
	border: 3px solid #750000;
	background: #AA5050;
}

#clicker:active {
	font-size: 60px;
}

#cps {
	font-size: 25px;
	font-weight: bold;
	height: 50px;
	min-height: 50px;
	text-shadow: 2px 2px 4px #000;
}

.bouton {
	background: #9b0000;
	border: 2px solid #610000;
	border-radius: 10px;
	color: white;
	text-align: center;
	width: 150px;
	height: 50px;
	font-size: 18px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
	cursor: pointer;
	transition: 0.1s;
}

.bouton:hover {
	background: #b63636;
}

@media only screen and (max-width: 1000px) {
	#clicker {
		height: 200px;
		width: 95%;
	}
	h1 {
		font-size: 30px;
	}
	hr {
		width: 95%;
	}
}
